.separatore{
  width: 100%;
  height: 107px;
}
.mouse{
  width: 150px;
  height: auto;
}
.letto {
    width: 25%;
    margin: -50% 0 0 50%;
}
.pallino {
    width: 30px;
    height: 30px;
    margin: -86% 0 0 51%;
}
.sfondo{
  width: 100%;
  height: 800px;
  background: orangered;
}
.menu-capitolo {
  text-align: center;
  padding: 18%;
}
.menu-capitolo a{
  color: #fff;

}
.pallino:hover {
  width: 40px;
  height: 40px;
}
.camera{
  float: left;
}
